.card {
    margin-top: 15px;
}
.card-header{
    font-weight: bolder;
}
.jumbotron{
    background: #25659c;
    color: white;
    text-align: center;
    padding: 2rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    border-color: #25659c;
}
.card-header{
    color:white;
    background: #25659c;
}
.btn-primary{
    background-color: #25659c;
}